*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #000; */
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 16px;
}
header{    
}
nav{
    max-width: 1600px;
    height: 92px;
    margin:  auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #d6d6d6; */
}
nav .nav-links ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a{
    text-decoration: none;
    color: #000;
}

.button{
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #fff;
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
}

.button a{
    color: #fff;
}

.button-g{

}

