* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 16px;
}

.color-g {
    color: #30B868;
}

nav {
    max-width: 1600px;
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

nav .nav-links ul {
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #30B868;
    text-decoration: underline;
}

.button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
}

.button:hover {
    background-color: #000000;
    border: none;
}

.button a {
    color: #fff;
}

.button-g {
    background-color: #469165;
}

.button-t {
    background: none;
    border: 1px solid #fff;
}

section {
    margin-bottom: 120px;
}

.hero {
    height: 674px;
    padding: 70px 120px 134px 120px;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero .hero-content {
    max-width: 800px;
    margin: auto;
}

.hero i {
    font-size: 16px;
}

.hero .info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 12px;
    background-color: #fff;
    color: #30B868;
    border-radius: 1000px;
}

.hero .info i {
    font-size: 10px;
}

.hero h1 {
    color: #fff;
    font-size: 50px;
    padding: 16px;
}

.hero span {
    color: #30B868;
}

.hero p {
    font-size: 18px;
    line-height: 24px;
}

.hero-button {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}


.hero-button button a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cards-section {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.cards-section .cards-section-header {
    font-size: 48px;
    font-weight: 900;
    color: #001931;
}

.cards-section .cards-section-content {
    font-size: 16px;
    color: #627382;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    gap: 24px;
}

.cards .card {
    padding: 24px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.cards .card .card-logo {
    background-color: #F95555;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
}

.cards .card .card-logo img {
    height: 32px;
    width: 32px;
}

.cards .card .card-header {
    padding: 16px 0;
    font-size: 24px;
    font-weight: 700;
    color: #001931;
}

.cards .card .card-content {
    color: #627382;
    font-size: 16px;
}

.solution {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 60px;
    align-items: center;
}

.solution .p1 {
    font-size: 16px;
    line-height: 20px;
    color: #30B868;
    padding-bottom: 10px;
}

.solution .p2 {
    font-size: 48px;
    color: #001931;
    font-weight: 900;
    padding-bottom: 10px;
}

.solution .p3 {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 20px;
}

.solution-r .checkboxes ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 20px;
    padding-bottom: 16px;
}

.earlyAccess {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
}

.earlyAccess .p1 {
    font-size: 40px;
    color: #001931;
    font-weight: 900;
    padding-bottom: 10px;
}

.earlyAccess .p2 {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    padding-bottom: 20px;
}

.earlyAccess .p3 {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 20px;
}

.earlyAccess button {
    margin-bottom: 20px;
}

.earlyAccess button a {
    display: flex;
    gap: 10px;
}