* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 16px;
}

.color-g {
    color: #30B868;
}

nav {
    max-width: 1600px;
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #000;
}

.button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
}

.button:hover {
    background-color: #000000;
    border: none;
}

.button a {
    color: #fff;
}

.button-g {
    background-color: #469165;
}

.button-t {
    background: none;
    border: 1px solid #fff;
}

.hero {
    height: 674px;
    padding: 70px 120px 134px 120px;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero .hero-content {
    max-width: 800px;
    margin: auto;
}

.hero i {
    font-size: 16px;
}

.hero .info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 12px;
    background-color: #fff;
    color: #30B868;
    border-radius: 1000px;
}

.hero .info i {
    font-size: 10px;
}

.hero h1 {
    color: #fff;
    font-size: 50px;
    padding: 16px;
}

.hero span {
    color: #30B868;
}

.hero p {
    font-size: 18px;
    line-height: 24px;
}

.hero-button {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}


.hero-button button a {
    display: flex;
    align-items: center;
    gap: 10px;
}